{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Band name goes in these h1 tags -->
                <h1 class="post-title">{{ band.band_name }}</h1>
                <!-- Bandpost author goes before the | the bandpost's created date goes after -->
                <p class="post-subtitle">{{ band.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/bandpic.jpg' %}" class="scale" alt="bandpic">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The bandpost review goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ band.review | safe }}
                </p>
            </div>
        </div>
    </div>

 <!-- Displaying count of opinions -->
 <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ opinion_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Opinions -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Opinions:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each opinion in opinions -->
        {% for opinion in opinions %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} {% endif %}">
          <p class="font-weight-bold">
            {{ opinion.author }}
            <span class="font-weight-normal">
              {{ opinion.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ opinion.your_opinion | linebreaks }}
          </div>
          {% if not opinion.approved and opinion.author == user %}
          <p class="approval">
            This opinion is awaiting approval
          </p>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>

    <!-- Creating New Opinions -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Leave your opinion on this band:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post"
            style="margin-top: 1.3em;">
            {{ opinion_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-signup btn-lg">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a opinion</p>
          {% endif %}
        </div>
      </div>
    
  </div>

</div>

{% endblock content %}

