{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/portraitstagel.jpg' %}" width="200" alt="stagepic">
        </div>
        <div class="col-12 col-md-8">
            <h1>{{ intro.venue_name }}</h1>
            <p>BAND HOUSE is a small venue that puts on new or up and coming bands.</p>
            <p>What we provide:</p>
            <p>A stage</p>
            <p>PA system including speakers and microphones</p>
            <p>Lighting</p>
            <p>A table at the back of the venue to sell your merchandise</p>
            <p>A description and review of your bands performance on this website </p>
            <p>The opportunity for people who have come to see your band or are familiar with your band<br> to leave their opinions about your band, on this website</p>
            <p>What you need to bring as a performing band:</p>
            <p>Your own instruments and amplifiers</p>
            <p>Benefits of performing at BAND HOUSE:</p>
            <p>Exposure to an audience interested in seeing new up and coming bands</p>
            <p>The potential to meet A&R personnel who regularly attend performances at our venue.<br> If they are interested in your band, you could become the next big star!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Perform at our venue!</h2>
            <p>Are you a member of an up and coming band with an interest in performing for us?
                If so, we'd love to hear from you. Please provide us 
              with your details and we shall get back to you to discuss the possibility of performing for us.</p>
                <form method="post">
                    {{ collaborate_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </form>
        </div>
    </div>
</div>
{% endblock content %}